<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Edunext_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Edunext_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Categories</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Category" asp-action="Index">Categories</a></li>
                            <li><a class="dropdown-item" asp-controller="Category" asp-action="Create">Add Category</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Product</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Product" asp-action="Index">List Product</a></li>
                            <li><a class="dropdown-item" asp-controller="Product" asp-action="Create">Add Product</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Users</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="User" asp-action="Index">List User</a></li>
                            <li><a class="dropdown-item" asp-controller="User" asp-action="Create">Add User</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">List Order</a>
                    </li>
                </ul>
            </div>
            @* <div class="d-flex align-items-center">
                @if (sessionValue == null)
                {
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                }
                else
                {
                    <span class="px-2">Hello, @sessionValue!</span>

                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                }
            </div>
            </div> *@
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Edunext_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
