<div class="row" style="max-height:600px">
    <h4 class="text-center text-success">Product chart total quantity by Month and Year</h4>
    <div class="col-lg-12">
        <canvas id="productChartBarTotalQuantityByMonth"></canvas>
    </div>
</div>
@section Scripts {
    <script>
        fetch("ProductChartTotalQuantityByMonth")
            .then(res => res.json())
            .then(data => {
                console.log("data: ", data);
                let randomColors = [];
                for (let i = 0; i < data?.labels.length; i++) {
                    let r = Math.floor(Math.random() * 255) + 100;
                    let g = Math.floor(Math.random() * 255) + 80;
                    let b = Math.floor(Math.random() * 255) + 50;
                    let a = Math.random().toFixed(2);
                    randomColors.push(`rgba(${r}, ${g}, ${b}, ${a})`);
                }
                //chart bar
                var ctxBarFive = document.getElementById("productChartBarTotalQuantityByMonth")
                    .getContext("2d");
                var myChartFive = new Chart(ctxBarFive, {

                    data: {
                        labels: data.labels,
                        datasets: [
                            {
                                type: 'line',
                                label: "So luong san pham",
                                data: data.totalQuantity,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgb(255, 99, 132)',
                                borderWith: 1
                            },
                            {
                                type: 'bar',
                                label: "So luong san pham",
                                data: data.totalQuantity,
                                backgroundColor: randomColors,
                                borderColor: 'rgb(255, 99, 132)',
                                borderWith: 1
                            }
                        ]
                    },
                    options: {
                        tension: 0.4,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    },

                })

            });

    </script>
}